<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/xo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/xo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait" >
        <activity android:name=".Scores"></activity>
        <activity android:name=".DuoGame" />
        <activity android:name=".Game" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>